{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": [2, "function"],
    "semi": 2,
    "eqeqeq": 2,
    "no-var": 2,
    "no-console": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "jquery": true,
    "commonjs": true,
    "amd": true
  }
}
